In [6]:
a = 11
b = 4
c = a+b
print("Sum= ",c)
print (4)
# type gives the datatype of the value
a1 = type("Hello bro")
a2 = type(4.5)
a3 = type("43")
print(a1,a2,a3)

Sum=  15
4
<class 'str'> <class 'float'> <class 'str'>
10 0 0

In [34]:
print("Hello World!")
print('G','F','G')
print('G','F','G', sep='') # seperator parameter is space by default(softspace feature)
print(19,11,2024,sep='/')

Hello World!
G F G
GFG
19/11/2024

In [8]:
print(a-b)
print(a*b)
print(a/b)
print(a//b) # Operator // means floor division
print(a**b) # Operator ** means Exponentiation in python
print(2**3)
print(25**0.5)

7
44
2.75
2
14641
8
5.0

Order of operations can be remembered as:  
**PEMDAS** ( Parantheses > Exponentiation > Mutiplication = Division > Addition = Subtraction )

In [ ]:
# raw_input() was used in python 2 and it was replaced by input() in python 3
a = int(input("Enter the first no."))
b= int(input('Enter the second no.'))
sum = a+ b
print("Sum is",sum)

Enter the first no.12
Enter the second no.2
Sum is 14

String concatenation is performed using '+' and '*' also :

In [9]:
str = 'CrazyAI'
print(str + ' is taking over')
print(str*3) # interpretor understands it as str+str+str

CrazyAI is taking over
CrazyAICrazyAICrazyAI

In [ ]:
mystr = "Kush is a fool"
print(mystr[0])
print(mystr[0:3])

K
Kus

In [ ]:
a = "blah"
print(a)
print(id(a))
a = "llah"
print(a)
print(id(a))

blah
2289017739824
llah
2289017763696

In [ ]:
a = "Suraj"
print(id(a))
b = "DSA"
print(id(b))
a = b
print("Id of a is ",id(a))
print("Id of b is ",id(b))

2289017763312
2289017778864
Id of a is  2289017778864
Id of b is  2289017778864

In [ ]:
# Making a list now
c = ['Suraj']
print(id(c))
d = ['IT']
print(id(d))
c=d
print(c)
d[0] = "Comps"
print(c)
# list is a mutable datatype, since see the values has been changed

2289017801216
2289017824576
['IT']
['Comps']

***String Manipulation:***

In [29]:
teststr = "Hello Antariksh, here's my Rover."
print(teststr.casefold())  # lowercase
print("er is repeated:", teststr.count('er'),'times')   # Syntax: string.count(value, start, end)
print(teststr.find('r'))
#print(teststr.center())

hello antariksh, here's my rover.
er is repeated: 2 times
10

***center()*** method total given length mai se str ko center karwata hai and baki places ko char se fill karta hai.

Syntax: ***center(length, character)***

In [16]:
fruit = 'banana'
x = fruit.center(10,"~")
print(x)

~~banana~~

***encode()*** method basically is used to encode str, if nothing is mentioned, by default UTF-8 is used, errors can be explicitly mentioned if you want!

Syntax: ***string.encode( encoding=encoding, errors=errors)***

In [20]:
just_str = "Keviá¹‡"
print(just_str.encode())
print(just_str.encode(encoding="ascii",errors='backslashreplace'))
print(just_str.encode(encoding="ascii",errors='namereplace'))

b'Kevi\xe1\xb9\x87'
b'Kevi\\u1e47'
b'Kevi\\N{LATIN SMALL LETTER N WITH DOT BELOW}'

***Question 1***

In [1]:
# Question 1
# Take input using the input function
fname = input("Enter your first name: ")
lname = input("Enter your last name: ")
# Concatenate using + operator
fullname = fname + ' ' + lname
print("Your fullname is",fullname)

Enter your first name: Suraj
Enter your last name: Rajpurohit
Your fullname is Suraj Rajpurohit

***Question 2***

In [ ]:
# Question 2
x = 2.55
exp = 3*x**3 - 5*x**2 + 6
print("The solution of expression is: ",exp)

The solution of expression is:  23.231625

***Question 3***

In [2]:
# Question 3
str = input("Enter the string: ")
middle_char = len(str)//2

print("The middle 3 chars are: ", str[middle_char-1:middle_char+2])

Enter the string: Raghava
The middle 3 chars are:  gha

***Question 4***

In [5]:
# Question 4
str1 = "PyTHon"
mylist = list(str1)  # Converted string to a list

print(mylist)
mylist = sorted(mylist,reverse=True)  # Sorted the list
print(mylist)

# Methods to convert a list to a string

# Method 1: String Comprehension
finalstr = "".join(mylist)
print("Final string is ",finalstr)

# Method 2: format() method
result = "{}{}{}{}{}{}".format(*mylist)
print(result)

['P', 'y', 'T', 'H', 'o', 'n']
['y', 'o', 'n', 'T', 'P', 'H']
Final string is  yonTPH
yonTPH

***Question 5***

In [ ]:
# Question 5
newstr = input("Enter the string: ")
letter=digit=sp=0
for x in newstr:
    if (x.isalpha()):
        letter= letter+1
    elif(x.isdigit()):
        digit= digit +1
    else:
        sp= sp +1

print("No. of letters: ",letter)
print("No. of digits: ",digit)
print("No. of special symbols: ",sp)

Enter the string: dfs253#^$
No. of letters:  3
No. of digits:  3
No. of special symbols:  3

***Question 6***

In [6]:
# Question 6
str2 = input("Enter the string: ")

char_count = {}
print(char_count)
for i in str2:
    if i in char_count:
        char_count[i] += 1
    else:
        char_count[i] = 1

print("Count of each character: ",char_count)

Enter the string: Raghava
{}
Count of each character:  {'R': 1, 'a': 3, 'g': 1, 'h': 1, 'v': 1}

***Question 7***

In [10]:
new_str = "Lord Rama was a great archer. Rama was also Maryada Purushottam."
index = new_str.rfind('Rama')   # rindex() and rfind() methods give last index of a substring in a string
print("Last occurence of Rama is: ",index)

Last occurence of Rama is:  30

***Question 8***

In [15]:
input_str = input("Enter a string: ")
result_str = ""
for item in input_str:
  if not item.isdigit():
    continue
  elif item.isdigit():
    result_str += item

print("After removing all chars: ",result_str)

Enter a string: Ka678@#an11(^
After removing all chars:  67811

***Question 9***

In [30]:
str5 = input("Enter the string: ")
result2 = ""
for item in str5:
  if item.isalpha() or item.isdigit():
    continue
  elif item == ' ':
    continue
  else:
    str5 = str5.replace(item,'#')

print("Final String: ",str5)

Enter the string: Mary @always &stood first in %class
Final String:  Mary #always #stood first in #class

***Question 10***

In [22]:
str6 = input("Enter the string: ")
new_str6 = str6.replace(' ','-')
print(new_str6)

Enter the string: He is good
He-is-good